/*Color de la navbar*/
.color-navbar__container {
  background-color: #111720 !important;
}

/*Detalles del escudo en la nav*/
.logo-equipo__container{
  height: 100px;
  margin-left: 25px;
}

/*Ajustes adicionales para los enlaces*/
.navbar-nav .nav-link {
  padding-top: 60px;
  font-size: 15px;
}

.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

/*Color links no seleccionados y seleccionado*/
.color-letra__container{
  color: #A0AFC1 !important;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.color-letra2__container{
  color: #FFFFFF !important;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid red;
}

/*Detalles de la cajita buscador; color, tamaño*/
.search-box__container{
  padding-top: 50px;
  position: relative;
  left: -30px;
  background-color: #111720;
}

.search-box__container input[type="text"] {
  background-color: #0F121A;
  color: #FFFFFF;
  border: none;
  width: 300px; 
  height: 40px; 
}

/*Contactos parte superior navbar*/
.top-bar__container {
  background-color: #0F121A;
  padding: 15px;
  color: gray;
  /*clip-path: polygon(13% 0, 100% 0, 100% 100%, 18% 320%);*/
}

.contact-info__container {
  text-align: right;
  margin-right: 10px;
  font-family: "Roboto", sans-serif;
}

.contact-info__container span {
  padding-right: 1.3em; 
}

.superior-derecha1__container{
  color: yellow;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 10%;
}

.superior-derecha2__container{
  font-family: "Roboto", sans-serif;
}

/*Caja buscador por jugador*/
.search-tamano__container input[type="text"] {
  width: 250px;
}

/*Botón de buscar*/
.logo-lupa__container{
  width: 20px;
}

/*Detalles botones que filtrarán y pintarán*/
.boton-detalle__container{
  background-color: #EFEFEF;
  padding: 2.5px;
  border: 1px solid;
  margin-left: 5px;
  border-radius: 0;
}

.botones-pintar__container{
  background-color: #EFEFEF;
  padding: 2.5px;
  border: 1px solid;
  margin-left: 5px;
  border-radius: 0;
}

/*Detalles para el resto de página*/
.detalles-body__container {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Organización del título de la tabla*/
.titlo-tabla__container {
  text-align: center;
  margin-bottom: 20px;
}

/*Contenedor de la tabla de jugadores y sus estadísticas*/
.tabla-jugadores__container {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,td {
  padding: 8px;
  text-align: left;
  border: none;
}

th {
  background-color: #1c1e22;
    color: white;
    text-transform: uppercase;
    border-bottom: 4px solid red;
}

/*
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
*/







